$color: #369;

@function pxify($value) {
  @return unquote($value + "px");
}

@mixin color_class($color) {
    .#{$color} {
      background: $color;
      float: left;

      @if $color == red {
        width: pxify(red($color));
      } @else if $color == blue {
        width: pxify(blue($color));
      } @else if $color == green {
        width: pxify(green($color));
      }
    }
}

div {
  height: 100px;
  width: 255px;
  border: 1px solid black;
}

.color {
  background: $color;
}

@include color_class(red);
@include color_class(green);
@include color_class(blue);

$time: morning;

@if $time == morning {
  a {
    color: red;
  }
} @else if $time == afternoon {
  a {
    color: blue;
  }
} @else {
  a {
    color: gray;
  }
}
