.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .jumbotron {
    background: black;
    color: white;
    font-size: 3em;
    max-width: 900px;
    margin: 0 auto;
  }

  .jumbotron h1 {
    font-size: 2em;
    padding: 20px;
    margin: 0;
  }

  .jumbotron p {
    margin: 20px 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
}
