/* Floated Columns ------------------ */
.tips {
  @extend %columns;
  float: left;
}

.resorts {
  @extend %columns;
  float: right;
}

.tips,
.resorts {
  @media #{$brk-narrow} {
    float: none !important;
    width: 100% !important;
  }
}
