<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Simple Layout</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>
  <div class="parent-container">
    <header class="main-header">
      <div class="container clearfix">
        <div class="title">
          <h1>Simple Application</h1>
        </div>
        <ul class="main-nav">
          <li><a href="#">Sleep</a></li>
          <li><a href="#">Dream</a></li>
          <li><a href="#">Code</a></li>
        </ul>
      </div> <!-- End container. -->
    </header>
    <div class="container clearfix">
      <div class="primary col">
        <h2>Heading One</h2>
        <p>Twee semiotics pitchfork DIY, gluten-free pabst ramps vinyl before
          they sold out paleo photo booth vegan hammock VHS. Umami pug fixie
          squid swag. Tofu wayfarers bicycle rights pitchfork. Butcher fixie
          four loko stumptown quinoa. Migas tumblr cornhole green juice vice,
          meggings taxidermy master cleanse. Before they sold out helvetica
          chicharrones readymade. Ugh woke selvage shoreditch, franzen flannel
          pug hella readymade iceland asymmetrical pok pok swag jianbing.</p>
      </div>
      <div class="secondary col">
        <h2>Heading Two</h2>
        <img class="feat-img" src="img/doughnut.jpeg" alt="Doughnuts">
        <p>Twee semiotics pitchfork DIY, gluten-free pabst ramps vinyl before
          they sold out paleo photo booth vegan hammock VHS. Umami pug fixie
          squid swag. Tofu wayfarers bicycle rights pitchfork. Butcher fixie
          four loko stumptown quinoa. Migas tumblr cornhole green juice vice,
          meggings taxidermy master cleanse. Before they sold out helvetica
          chicharrones readymade. Ugh woke selvage shoreditch, franzen flannel
          pug hella readymade iceland asymmetrical pok pok swag jianbing.</p>
      </div>
      <div class="tertiary col">
        <h2>Heading Three</h2>
        <p>Twee semiotics pitchfork DIY, gluten-free pabst ramps vinyl before
          they sold out paleo photo booth vegan hammock VHS. Umami pug fixie
          squid swag. Tofu wayfarers bicycle rights pitchfork. Butcher fixie
          four loko stumptown quinoa. Migas tumblr cornhole green juice vice,
          meggings taxidermy master cleanse. Before they sold out helvetica
          chicharrones readymade. Ugh woke selvage shoreditch, franzen flannel
          pug hella readymade iceland asymmetrical pok pok swag jianbing.</p>
      </div>
    </div><!-- End container. -->
  </div> <!-- End parent container. -->
  <footer class="main-footer">
    <span>&copy; Dyer Industries</span>
  </footer>
</body>
</html>
