/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}

a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
}

h1 {
  margin-top: 0;
}

p {
	padding-right: 1em;
}

.main-header {
	background: #3acec2;
}

.main-footer {
	padding: 2em 0;
	background: #d9e4ea;
	text-align: center;
}

/* =================================
  Base Layout Styles
==================================== */

/* ------- Navigation ------- */

.title {
	text-align: center;
	padding: 1em 1em 0 1em;
}

.main-nav li {
	list-style: none;
	padding: 1em 1em;
	text-align: center;
}

/* ---- Layout Containers ---- */

.parent-container {
	min-height: calc(100vh - 105px);
	margin: 0 auto;
}

.container {
	margin: 0 1em;
}

/* ---- Page Elements ---- */

@media (min-width: 769px) {

	.title {
		float: left;
	}

	/* ---- Layout Containers ---- */

	.col {
		display: inline-block;
		float: left;
		width: 50%;
	}

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

	/* ------- Navigation ------- */

	ul.main-nav {
		padding-right: 40px;
		float: right;
	}

	.main-nav li {
		display: inline-block;
		float: left;
	}

	.feat-img {
		float: left;
		margin-right: 1em;
	}

}

@media (min-width: 1050px) {

	.col {
		width: 33%;
	}

}
